<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Mutant Chronicles 3rd edition - Standard Generation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Standard Generation</h1>
        You can spend life points to increase any attribute above 5.

        <p>Adjust attribute values:</p>
        <div id="error" color="red">{{error}}</div>
        <form action="" method="POST" id="attribs">
            <div class="grid-container">
                {% for attribute in attributes %}
                <div class="grid-item">
                    <label>{{ attribute.name }}</label>
                </div>
                <div class="grid-item">
                    <input type="number" name="{{ attribute.name }}" value="{{ attribute.value }}" max="6" min="4"></br>
                </div>
                {% endfor %}
            </div>
                        
            <input type="submit" value="Submit">
        </form>
        <p>Total points: {{ total_points }}</p>
        <button type="button" id="next_btn" onclick="window.location.href='adjust_attributes'" >Next: Adjust Attributes</button> 
    </body>
    <script>
        btn = document.getElementById("next_btn")
        if ("{{next_ok}}" ==='true'){
            btn.setAttribute("disabled", "disabled");
            btn.setAttribute('style',"border:1px solid teal;background-color: grey;")

        }
    </script>
</html>
