<html>
    <head>
        <meta charset="utf-8">
        <title> Step 2 - Birth Faction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Heritage - Faction</h1>
        <table>
            <tr>
                <td id="faction">Faction: <b>{{faction}}</b></td>
            </tr>
            <tr>
                <td id="heritage">Heritage: <b>{{heritage}}</b></td>
            </tr>
        </table>
        
        
    </body>
</html>