<html>
    <head>
        <meta charset="utf-8">
        <title> Step 2 - Birth Faction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Heritage - Faction</h1>
        <table>
            <tr>
                <td id="faction">Faction: <b>{{faction}}</b></td>
            </tr>
            <tr>
                <td id="heritage">Heritage: <b>{{heritage}}</b></td>
            </tr>
        </table>
        <p>You can select 2 skills. One of them should be a signature skill, for which you have an extra point to assign to either expertise or focus.</p>
        <h2>Available Skills</h2>
        <form id="skills">
            <div id="skills" class="grid-container3">
                <div class="grid-item">
                    <label><b>Skill</b></label>
                </div>
                <div class="grid-item">
                    <label><b>Expertise</b></label>
                </div>
                <div class="grid-item">
                    <label><b>Focus</b></label>
                </div>
                {% for s in skills%}
                <div class="grid-item">
                    <label>{{s.name}}</label>
                </div>
                <div class="grid-item">
                    <input type="number" name="{{s.name}}_exp" value="{{ s.expertise }}" max="1" min="0">
                </div>
                <div class="grid-item">
                    <input type="number" name="{{s.name}}_foc" value="{{ s.focus }}" max="1" min="0">
                </div>
                {% endfor %}
            </div>
        </form>
        
    </body>
</html>