<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Mutant Chronicles 3rd edition - Character Generator</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <p align="center">
            <img src="assets/logo.png" width="50%"/>
        </p>
        <h1>
            Mutant Chronicles Character Generator
        </h1>
        <div id="button-menu">
            <button> Standard method</button>
            
            <button> Free method (12LP)</button>
        </div>
    

    </body>

</html>