<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Step 1 - MC3 Character Generator</title>
        <link rel="stylesheet" href="static/assets/style.css">
    </head>
    <body>
        <!--Form validation missing!-->
        <h1>Decision 1: Starting characteristics</h1>
        <form name="attribs" action="decision1" method="post">
            <div class="grid-container">
                <div class="grid-item">
                    <label for="agility">Agility:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="agility" name="agility" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="awareness">Awareness:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="awareness" name="awareness" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="coordination">Coordination:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="coordination" name="coordination" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="intelligence">Intelligence:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="intelligence" name="intelligence" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="mental">Mental:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="mental" name="mental" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="personality">Personality:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="personality" name="personality" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="physique">Physique:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="physique" name="physique" value="5"></br>
                </div>
                <div class="grid-item">
                    <label for="strength">Strength:</label>
                </div>
                <div class="grid-item">
                    <input type="number" id="strength" name="strength" value="5"></br>
                </div>
            </div>
            <input type="submit" value="OK">
        </form>
    </body>

</html>